<!-- <main>
   <h1>Structural Directives</h1>
   <section *hideAfter="8000 as time; then placeholder; let counter = counter; let default" class="banner primary">
      <h2>Temporary Content</h2>
      <p>This layout should disappear in {{default}} seconds. It disappears in {{ counter }}</p>
   </section>

   <ng-template #placeholder let-hiddenAfter="hideAfter" let-myDefault>
      <section class="banner placeholder">
         <h2>Placeholder</h2>
         <p>Here was some content. It was visible for  {{hiddenAfter}} seconds. {{myDefault}}</p>
       </section>
   </ng-template>
</main> -->

<main>
   <h3>Button</h3>
   <div class="d-flex" style="gap: 10px;">
      <button canColor canAppearance canDisable dfButton>Solid Button</button>
      <button canColor canAppearance canDisable appearance="stroked" dfButton>Stroked Button</button>
   </div>

   <h3>Chip</h3>
   <div class="d-flex" style="gap: 10px;">
      <lc-chip canColor canAppearance canDisable appearance="solid" [removable]="true">Solid Chip</lc-chip>
      <lc-chip canColor canAppearance canDisable appearance="stroked" [removable]="true">Stroked chip</lc-chip>
   </div>

   <h3>Banner</h3>
   <lc-banner canColor canAppearance appearance="solid">
      <p>
         This is a demo text for a banner which has SOLID appearance 
       </p>
   </lc-banner>
   <br>
   <lc-banner canColor canAppearance appearance="stroked">
      <p>
         This is a demo text for a banner which has STROKED appearance
       </p>
   </lc-banner>
   
</main>